/* CSS Boilerplate */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f9f9;
    color: #240404;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#page1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 20px ;
}
#page2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
   
}
#page3 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: rgb(120, 120, 149);
}
#page3 h1{
    font-size: 40vw;
    color: #090000;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#page4 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.box {
    width: 200px;
    height: 200px;
    background-color: #4CAF50;
    font-size: 24px;
    border-radius: 10px;
}