* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}
html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(79, 176, 105);
}
.rule{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin:20px;
  gap:3px;
  font-size:1rem;
}
.contaner {
  width: 80%;
  height: 70%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(39, 97, 39);
  height: 50px;
}
.ele {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
}
.ele h3 {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.ele .box {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(17, 1, 1);
}
#main {

  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  overflow: hidden;
}
.bubble {
  background-color: rgb(39, 97, 39);
  width: 8%;
  height: 10%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: large;
}

.bubble:hover{
    cursor: pointer;
      background-color: rgb(28, 87, 28) ;
}

.btn{
    margin: 10px;
    width: 20%;
    height: 5%;
    border-radius: 10px;
    font-weight: 700;
}