/* CSS Boilerplate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
  color: #222;
}
#string {
  width: 100%;
  height: 300px;
  color: white;
  /* background-color: red; */
}
#string svg {
  width: 80%;
  height: 100%;
  /* background-color: blue; */
}