/* style.css - Boilerplate CSS for custom cursor project */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #181818;
    color: #fff;

}

#main{
    width: 100%;
    height: 300px;
    background-color: red;
  
}
.cursor{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    display: none;
    position: absolute;
}