* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.baner {
  position: relative;
}
body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  overflow-x: hidden;
}
#head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: #41d5a9c5;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 25px 25px 15px;
}
#head .head-logo {

  font-size: clamp(0.6rem, 1vw, 1rem);
  font-weight: 600;
  color: black;

}
#head .head-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#head .head-list .nav-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#head .head-list .nav-list ul li {
  list-style-type: none;
  position: relative;
  padding-right: min(70px, 6vw);
}
#head .nav-list ul a {
  /* border: 1px solid; */
  text-decoration: none;
  font-size: clamp(0.6rem, 1.8vw, 2rem);
  font-weight: 540;
  color: black;
  transition: 150ms ease;
  z-index: 0;
}

.nav-list ul a::after,
.nav-list ul a::before {
  content: "";
  width: 63%;
  height: 0px;
  background-color: rgb(21, 161, 126);
  position: absolute;
  top: -2px;
  left: -4px;
  transition: 0.1s ease-in-out;
}

.nav-list ul li a span {
  position: relative;
  z-index: 3;
}
.nav-list ul li :hover {
  color: #d1f5f2;
}
.nav-list ul li a span.active {
  text-decoration: underline;
  text-decoration-color: #047542;
}
#frame {
  background: rgb(246, 249, 249);
  /* border: 1px solid #9f8b8b; */
  height: auto;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
}


#frame .content {
  position: relative;
  height: 50%;
  align-items: center;
  justify-content: center;
  padding: min(14rem, 9%);
}

.content h2 {
  font-size: clamp(0.1rem, 5vw, 3rem);
  color: #333;
  transition: 0.5s;
}
.content h2 #text {
  font-size: clamp(1em, 6vw, 5.4rem);
  color: rgb(69, 199, 134);
  text-shadow: 1px 2px #333;
  animation-name: delete;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
.content h5 {
  font-size: clamp(1.3rem, 3vw, 1.6rem);
  background: linear-gradient(rgb(46, 155, 104), rgb(2, 101, 71));
  background-clip: text;
  color: transparent;
  margin: 25px 0;
  transition: 0.5s;
}

@keyframes delete {
  0% {
    opacity: 0;
    font-size: 0.5em;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    font-size: 1em;
    transform: translateX(0px);
  }
}

.content .button-container {
  /* border: 2px solid; */
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
  margin: 50px 0px 30px;
}

.content button {
  position: relative;
  align-content: center;
  background-color: #35c69bc5;
  color: black;
  border: none;
  outline: none;
  padding: 17px 3px;
  font-size: clamp(0rem, 2.5vw, 1.1rem);
  letter-spacing: 0.05em;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  width: 90%; 
  max-width: 130px; /* Prevents it from being too large */
}
.content button::after {
  content: "";
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background: linear-gradient(to right, #666, rgb(21, 161, 126));
  position: absolute;
  top: 0;
  left: 0;
  transition: 150ms ease-in-out;
  z-index: 1;
}
.content button::before {
  content: "";
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background: linear-gradient(to right, #666, #333);
  position: absolute;
  top: 0;
  right: 0;
  transition: 150ms ease-in-out;
  z-index: 1;
}
.content button span {
  position: relative;
  z-index: 2;
}
.content button:hover::before,
.content button:hover::after {
  width: 100%;
}

.content button:hover {
  color: white;
  box-shadow: 1px 2px 5px #666;
  transform: scale(1.05);
}
.content .chat {
  background-color: white;
  color: black;
}

#frame .im {
  /* border: 2px solid; */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#frame .im img {
  width: 60%;
  aspect-ratio: 1.3/1.8;
  position: relative;
  top: 0px;
  left: 0;
  box-shadow: 1px 1px 2px rgba(193, 160, 160, 0.04);
  /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 64%, rgba(0, 0, 0, 0) 100%); */
  border-radius: 20%;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 700px) {
  #frame {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #frame .content{
    align-items: center;
    justify-content: center;
  }
  .content .button-container{
    /* justify-content: center; */
     gap: 25px;
 
  }
  .content .button-container button{
    width: 60%;
     max-width: 100px;
  }
  
}


#pro {
  position: relative;
  width: 100%;
}
#pro h1 {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 4px;
  background-color: #41d5a9c5;
  color: rgb(24, 98, 79);
  font-size: clamp(2rem, 7vw, 4rem);
  font-weight: 600;
  text-align: center;
}
#pro .projects {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#pro .projects .project {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #d5c5c5;
  border-radius: 10px;
  max-width: 280px;
  height: 350px;
  margin: 5px;
  background-color: #fff;
}
#pro .projects .project h2 {
  padding: 20px 10px;
  text-align: center;
  font-size: clamp(1.1rem, 3vw, 1.5rem);
}
/* #pro .projects .project span {
  text-align: center;
  padding: 15px 10px;
  font-size: clamp(0.9rem,2vw,1rem);
} */
#pro .projects .project span h4 {
  text-align: center;
  justify-items: center;
  padding: 15px 10px;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  color: #0c7e61;
}
#pro .projects .project span h5 {
  text-align: center;
  padding: 15px 10px;
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: #0c7e61;
}
.project button {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #d2afaf;
  position: absolute;
  top: 80%;
  left: 50%;
  translate: -50% -50%;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.project button::after {
  border-radius: 10px;
  background: linear-gradient(to right, #84879e, rgb(21, 161, 126));
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: width 0.1s linear;
}
.project button:hover::after {
  z-index: 1;
  width: 102%;
  height: 105%;
}
.project button h3 {
  position: relative;
  color: black;
  z-index: 6;
}
.project button:hover h3 {
  color: #fff;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.project::before,
.project::after {
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  padding: 5px;
  background: conic-gradient(
    from var(--angle),
    transparent 70%,
    rgb(21, 161, 126)
  );
  filter: blur(2px);
  opacity: 0.8;
  animation: 2s spin linear infinite;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  50% {
    --angle: 180deg;
  }
  100% {
    --angle: 360deg;
  }
}
#skills {
  margin: 30px 20px;
  position: relative;
}
#skills h2 {
  background-color: #35cea0c5;
  color: rgb(18, 75, 61);
  text-align: center;
  font-size: clamp(2rem, 7vw, 4rem);
  font-weight: 700;
  padding: 5px;
  margin-top: 50px;
}
#skills .skill-list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  /* width: 100%; */
  /* height: 100%; */
}
#skills .skill-list .skill {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: min(80px, 15%);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#skills .skill-list .skill span {
  font-size: clamp(0.4rem, 2.7vw, 1rem);
}
#skills .skill-list .skill:hover {
  box-shadow: 5px 4px 5px #d39e9e;
  transform: scale(1.2);
  background-color: #fff;
  border: none;
}

#footer {
  position: relative;
  border: 1px solid #caabab;
}
#footer h1 {
  padding: 20px 10px;
  text-align: center;
  font-size: clamp(2rem, 7vw, 4rem);
  color: rgb(21, 161, 126);
  background-clip: text;
}
#footer .comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#footer .comment input {
  height: 80px;
  width: 50%;
  position: relative;
  font-size: 1em;
}

#footer .comment input:hover {
  text-decoration: none;
  box-shadow: 5px 4px 5px #d39e9e;
}
#footer .comment button {
  border: none;
  border-radius: 8px;
  height: 30px;
  background-color: #1ec794c5;
  width: 60px;
}
#footer .comment button span {
  font-weight: 540;
}
#footer .comment button:hover {
  box-shadow: 5px 4px 5px #d39e9e;
  cursor: pointer;
}