* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 2px solid yellow;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  border-radius: 10px;
  margin: 10px;
  position: relative;
  height:400px ;
  width: 300px;
  background: linear-gradient(rgb(46, 30, 30), rgb(61, 58, 58));
  display: flex;
  align-items: center;
  justify-content:center;
}
.card h1{
    font-size: 19px;
    text-align: center;
    color: white;

}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card::before,
.card::after{
    z-index: -1;
    border-radius: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: "";
    width:300px;
    height:400px;
    padding: 5px;
    background:conic-gradient( from var(--angle),red,blue,yellow,red);
    filter: blur(9px);
    opacity: 0.8;
    animation: 2s spin linear infinite;
}

@keyframes spin {
    0%{
        --angle:0deg;
    }
    50%{
        --angle:180deg;
    }
    100%{
        --angle:360deg;
    }
}