*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 3px solid green;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: black;

}
.rotate{
    position: relative;
    color: aliceblue;
    width: 150px;
    height: 150px;
    border: 2px solid lightblue;
    box-shadow: 1px 2px 1px 2px rgba(188, 168, 168, 0.75);
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    animation-duration: 1150ms;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards ;
    animation-play-state: paused;

}
.rotate:hover{
    animation-play-state: running;

}
.rotate h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
@keyframes rotate {
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
    }
    60%{
       
        transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
    }
    100%{
       
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}