/* Base Reset */
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #d3cce3, #e9e4f0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

\body h2 {
  margin-bottom: 10px;
  color: #2f2f2f;
  font-weight: 600;
}

.cal-body {
  width: 400px;
  max-width: 450px;
  height: auto;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: fadeIn 0.7s ease-out;
}

.cal-body .display {
  width: 100%;
  min-height: 70px;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  font-size: 2rem;
  overflow-x: auto;
}

.bottom {
  background-color: #f7f7f7;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  height: 400px;
}

.number {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 60%;
}
.number button {
  width: 55px;
  height: 65px;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}
.number button:hover {
  background-color: #d1c4e9;
  transform: scale(1.05);
}

.operator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 19px;
  align-items: center;
}
.operator button {
  width: 55px;
  height: 75px;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  background-color: #9575cd;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}
.operator button:hover {
  background-color: #7e57c2;
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .bottom {
    gap: -10px;
    padding-top: 15px;
    justify-content: flex-start;
  }
  .number {
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .operator {
    width: 35%;
    flex-direction: column;
    align-items: center;
  }

  .number button,
  .operator button {
    width: 40px;
    height: 68px;
    /* margin: 4px; */
  }

  .display {
    font-size: 1.3rem;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
