/* style.css - Boilerplate CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background:#111;
    color: #222;
}
#page1,#page2,#page3{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    border: 1px solid black;
    padding: 5vw 0;
}
#move{
 background-color: #D9FF06;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content:space-evenly;
 padding: 20px  10px;
 gap: 59px;
 overflow-x: hidden;
}
.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
    transform: translateX(-100%);
}
.marque img{
    width: 60px;
}
.marque h1{
    font-size: 50px;
    font-weight: 550;
}