* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ececec;
  padding: 15px 60px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: relative;
  top: 0 px;
  left: 0;
  right: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 20px;
  position: relative;
}
.header-list-nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 590;
  color: #564242;
  transition: 0.3s ease;
  opacity: 0;
  display: inline-block;
  animation: topshift 0.3s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
  z-index: 1;
}
.header-list-nav ul li a::after {
  content: "";
  width: 110%;
  height: 2px;
  background: linear-gradient(to bottom, #ffee00, #ffb300);
  position: absolute;
  bottom: -3px;
  left: -1px;
  transition: 0.1s ease-in-out;
}
.header-list-nav ul li a:hover::after {
  height: 110%;
}
.header-list-nav ul li a span {
  position: relative;
  z-index: 2;
}
.header-list-nav ul li a:hover {
  color: #ececec;
}
.header-list-nav ul li a.active {
  color: #5170eb;
  content: none;
}

.header-list-nav ul li a:focus {
  outline: none;
}

.header-logo img {
  background-size: contain;
  background-position: center;
  max-width: 250px;
  height: 60px;
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list-icon a:hover {
  color: #088178;
}
/* animation header */

@keyframes topshift {
  0% {
    transform: translatey(50px);
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}

#hero {
  background-image: url(image/hero/hero4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 100px;
  position: relative;
}
#hero h4 {
  padding-bottom: 15px;
  font-size: 45px;
  animation: rightshift 0.6s ease-in-out 1 forwards;
}
#hero h2 {
  font-size: 75px;
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  color: transparent;
  animation: leftshift 0.6s ease-in-out 1 forwards;
}
#hero h1 {
  color: #088178;
  font-size: 75px;
  animation: zoom 0.6s ease-in-out 1 forwards;
}
#hero p {
  color: black;
  font-size: 25px;
  padding-bottom: 7px;
}

#hero button {
  margin-left: 25px;
  padding-left: 5px;
  border: 1px;
  border-radius: 15px;
  color: white;
  font-size: small;
  font-variant: small-caps;
  font-weight: 600;
  height: 45px;
  width: 160px;
  cursor: pointer;
  position: relative;
  background: linear-gradient(to right, #2abfff, #0071ff);
}
#hero button::after {
  content: "";
  width: 0px;
  height: 45px;
  background: linear-gradient(to right, #ffee00, #ffb300);
  border-radius: 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 150ms ease-in-out;
}
#hero button:hover::after {
  width: 100%;
}
#hero button:hover {
  box-shadow: 5px 5px 15px #088178;
  color: #000;
}
#hero button h3 {
  position: relative;
  z-index: 2;
}

/* animaton hero */
@keyframes rightshift {
  0% {
    transform: translateX(-400px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes leftshift {
  0% {
    transform: translatex(400px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* feature */
#features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 19px;
}
#features .f-box {
  width: 180px;
  height: 220px;
  text-align: center;
  align-content: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  margin: 27px 5px 15px 5px;
  transition: box-shadow 0.5s ease, background-color 0.4s,
    width 2s linear height 2s linear;
}
#features .f-box:hover {
  box-shadow: 10px 18px 54px rgba(40, 11, 11, 0.9);
  background-color: #3498db;
  width: 185px;
  height: 230px;
  transition: 0.2s ease-out;
}
#features:hover > :not(:hover) {
  opacity: 0.3;
  backdrop-filter: blur(5px);
}

#features .f-box img {
  object-fit: cover;
  object-position: center;
  width: 130px;
  height: 120px;
  margin-bottom: 8px;
}

#features .f-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  font-size: 16px;
  line-height: 1;
  border: 1px;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

.product-section .pro-collection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 60px;
}
.product-section h1 {
  margin-top: 55px;
  margin-bottom: 5px;
  font-size: clamp(0rem,5vw,3rem);
  text-align: center;
  padding: 12px 10px 15px 12px;
}
.product-section p {
  text-align: center;
  font-style: italic;
  font-size: clamp(0rem,2vw,1.1rem);
  padding: 0 20px 20px;
  margin-bottom: 15px;
}
@keyframes hoja {
  from {
    opacity: 0;
    scale: 0.5;
    /* transform: translateX(-100px); */
  }
  to {
    opacity: 1;
    scale: 1;
    /* transform: translateX(0px); */
  }
}
.product-section .product-cart {
  width: 300px;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 0.5px solid;
  border-radius: 25px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  transition: box-shadown 0.2s;
  animation-name: hoja;
  animation-delay: 0.2s;
  animation-timing-function: linear;
  animation-timeline: view();
  animation-fill-mode: forwards;
  animation-range: entry 10% cover 40%;
}
.product-section .product-cart:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}
.product-section .product-cart img {
  background-size: cover;
  border-radius: 25px;
  width: 100%;
}
.product-section .product-cart h4 {
  font-size: 12px;
  color: rgb(41, 41, 41);
}
.product-section .product-cart span {
  color: #969696;
  font-weight: 500;
  line-height: 30px;
}
.product-section .product-cart .stars {
  width: 120px;
  color: #e6ae2c;
  padding: 6px 0px;
}
.product-section .product-cart .price {
  color: #088178;
  padding: 4px 0;
}
.product-section .product-cart .buy-icon {
  color: #088178;
  background-color: #c7e9e75e;
  position: absolute;
  padding: 15px;
  border-radius: 50px;
  right: 10px;
  bottom: 10px;
}

#off-baner {
  background-image: url(image/baner/off-baner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#off-baner h4 {
  color: #eaebf0;
}
#off-baner h2 {
  color: #eaebf0;
  padding: 25px;
  font-size: xx-large;
}
#off-baner .normal {
  font-size: 16px;
  font-weight: 600px;
  color: #000;
  width: 130px;
  line-height: 2.5;
  border-radius: 7px;
  border: none;
  outline: #b7bbcb solid;
  cursor: pointer;
  background-color: #fff;
  transition: 0.35s;
  position: relative;
}
#off-baner .normal::after {
  content: "";
  border-radius: 7px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: linear-gradient(to left, #ffee00, #ffb300);
  z-index: 0;
  transition: 150ms ease-in-out;
}
#off-baner .normal:hover::after {
  width: 100%;
}
#off-baner .normal span {
  position: relative;
  z-index: 2;
}
#off-baner .normal:hover {
  color: white;
}

/* big-baners */
#baners h4 {
  color: rgb(248, 248, 248);
}
#baners h2 {
  font-size: 30px;
  color: rgb(248, 248, 248);
}
#baners span {
  font-size: 11px;
  color: rgb(248, 248, 248);
}

#baners {
  margin: 0 60px;
}
#baners .big-baners {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-size: cover;
}
#baners .big-baners div {
  flex-grow: 1;
  margin: 10px 20px;
  height: 360px;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 31px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(8%);
}
#baners .big-baner-1 {
  background-image: url(image/big-baners/b1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#baners .big-baner-2 {
  background-image: url(image/big-baners/b2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#baners .small-baner-1 {
  background-image: url(image/big-baners/b3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#baners .small-baner-2 {
  background-image: url(image/big-baners/b4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#baners .small-baner-3 {
  background-image: url(image/big-baners/b5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
#baners .big-baners button {
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(248, 248, 248);
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
  transition: 0.3s ease;
}
#baners .big-baners div:hover button {
  background-color: #088178;
  border: 1px solid #282d2d;
}

#baners .small-baners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
#baners .small-baners div {
  flex-shrink: 1;
  height: 290px;
  width: 29dvw;
  aspect-ratio: 1/6;
  margin: 5px 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:min(2rem ,2%);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(8%);
}
#baners .small-baners h2 {
  font-size: clamp(0rem,4vw,2rem);
}
#baners .small-baners h5 {
  font-size: 15px;
  padding-top: 6px;
  color: #771818;
}

/* last baner */
#last-baner {
  background-size: cover;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(image/baner/off-baner2.jpg);
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-evenly;
}
#last-baner .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#last-baner .content h2 {
  font-size: 30px;
  color: rgb(248, 248, 248);
}
#last-baner .content h4 {
  padding: 10px;
  font-size: 20px;
  display: flex;
  color: rgb(227, 210, 210);
  p {
    padding-left: 8px;
    color: yellow;
  }
}

#last-baner .sign-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
  margin-left: 95px;
}

#last-baner .sign-button button {
  padding: 10px;
  height: 50px;
  width: 80px;
  border-radius: 3px;
  border-color: transparent;
  background-color: rgb(77, 139, 77);
  color: rgb(227, 210, 210);
}
#last-baner .sign-button button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 8px rgb(227, 210, 210);
}
#last-baner .email {
  height: 50px;
  padding: 10px;
  border-radius: 3px;
  border-color: transparent;
  color: #088178;
}
#last-baner .email:active {
  border-color: rgb(227, 210, 210);
}
#last-baner .email:hover {
  box-shadow: 2px 2px 8px rgb(227, 210, 210);
}
@media only screen and (max-width: 580px) {
  #last-baner .content h2 {
    font-size: 20;
  }
  #last-baner .content h4 {
    font-size: 30;
  }
}

#footer {
  padding: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #ececec;
}
#footer .contact {
  font-size: 15px;
  align-items: center;
  b {
    color: #332e2e;
  }
  p {
    color: rgba(109, 109, 109, 109);
  }
}

#footer .about h3 {
  color: black;
  font-size: 18px;
  align-items: center;
}
#footer .about {
  align-items: center;
  justify-content: center;
  font-size: 15px;
  a {
    transition: background-color 1s ease-in-out;
    color: rgba(109, 109, 109, 109);
    text-decoration: none;
  }
}
#footer .about a:hover {
  color: #2f3d3d;
  background-image: linear-gradient(
    120deg,
    rgb(218, 209, 174),
    rgb(200, 188, 127),
    rgb(212, 187, 90)
  );
}

#footer .social i:hover {
  color: #2f3d3d;
}

#footer .myaccount {
  font-size: 18px;
  align-items: center;
  a {
    font-size: 15px;
    color: rgba(109, 109, 109, 109);
    text-decoration: none;
  }
}
#footer .myaccount a:hover {
  color: #151616;
  background-image: linear-gradient(
    120deg,
    rgb(218, 209, 174),
    rgb(200, 188, 127),
    rgb(212, 187, 90)
  );
}
#footer .install {
  font-size: 16px;

  display: flex;
  flex-direction: column;
  h3 {
    align-items: center;
  }
  p {
    padding-left: -14px;
    color: #088178;
  }
}
#footer .install .download {
  width: 320px;
  padding-right: 2px;
  align-items: flex-start;
  justify-content: center;
}
#footer .install .download a {
  padding: 2px;
}
#footer .install img {
  width: 150px;
}

/* Media-quary */

@media only screen and (width < 680px) {
  #header {
    padding: 18px 20px;
  }
  .header-list-nav ul li {
    padding: 0 15px;
  }

  #hero {
    padding: 0px 49px;
  }
  #hero h4 {
    font-size: 35px;
  }
  #hero h2 {
    font-size: 45px;
  }
  #hero h1 {
    font-size: 45px;
  }
  #hero p {
    font-size: 20px;
  }
  #off-baner h4 {
    font-size: 15px;
  }
  #off-baner h2 {
    font-size: 20px;
  }
  #last-baner .content h2 {
    font-size: 18px;
  }
  #last-baner .content h4 {
    font-size: 13px;
  }
}

@media only screen and (width < 780px) {
  .product-section .pro-collection {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-around;
    margin: 0 40px;

    height: 500px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width:none;
    scroll-snap-type:none;
  }

  .product-section .pro-collection ::-webkit-scrollbar{
    display: none;
    scrollbar-arrow-color: #0071ff;
  
  }
}
