.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  position: relative;
}

.nav-item a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  background-color: teal;
  color: white;
}

.nav-item .dropdown {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  background-color: lemonchiffon;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.nav-item .dropdown li a {
  color: black;
  background: lemonchiffon;
}

.nav-item:hover .dropdown {
  display: block;
}
