/* style.css - Boilerplate CSS for GSAP text animation project */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #181818;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
}

 h1 {
  font-size: 70px;
  font-weight: 400;
  overflow: hidden;
}
h1 span{
    display: inline-block;
    text-shadow:1px 5px 7px #8f8282;
}